@model CMP1005_JobTracker.Models.DTR

@{
    ViewData["Title"] = "DTR Details";
}

<h1>Details</h1>

<div>
    <h4>DTR</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jobs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobs.Company)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DTRId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
