@model IEnumerable<CMP1005_JobTracker.Models.DTR>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Daily Time Records</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DTRId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DTRId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DTRId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
